<h1>投稿一覧リスト(画像クリックで詳細へ)</h1>

  <%= form_with url:search_photo_list_index_path, local: true, method: :get do |form| %>
    <%= form.text_field :keyword %>
    <%= form.submit "都道府県で検索するてすと" %>
  <% end %>

<div class="image">
  <ul>
    <li class="photo_li">
      <% @locations.each do |location| %>
      <%= link_to image_tag(location.photo.url, width: "800px", height: "600px"), "/photo_details/#{location.id}" %>
      <% end %>
    </li>
  </ul>
</div>

