<h1>投稿一覧リスト</h1>



<div class="image">
  <ul>
    <li>
      <% @locations.each do |location| %>
      <%= link_to image_tag(location.photo.url, width: "800px", height: "600px"), "/photo_details/#{location.id}" %>
      <% end %>
    </li>
  </ul>
</div>

