<h1>投稿一覧リスト</h1>

<% @locations.each do |location| %>
  <p>
    <%= location.name %><br>
    <% #= image_tag location.photo.url, width: "80%", height: "80%" %>
    <%= link_to image_tag(location.photo.url width: "80%", height: "80%"), "/photo_details/#{location.id}" %>

  </p>
<% end %>
<hr>
