<h1>このアプリについて</h1>
<h2>■概要</h2>
<p class = "explanation">インスタ映えするスポットを自由に投稿、閲覧できるWebアプリです. 画像を投稿フォームから投稿でき、投稿画像一覧から詳細画面に遷移します。</p>
<h2>■機能一覧</h2>

<div class="list">
<ul>
    <li>ログイン機能</li>
    <li>ユーザ登録機能</li>
    <li>画像投稿機能</li>
    <li>投稿画像一覧表示機能</li>
    <li>投稿画像詳細情報表示機能</li>
    <li>お問合せ機能</li>
</ul>
</div>
<h2>■使用技術</h2>
<ul>
    <li>ruby 2.6.6</li>
    <li>rails 5.2.4.4</li>
    <li>DB MySQL 8.0.23</li>
    <li>デプロイ先 AWS EC2</li>
    <li>スライドショー skipper</li>
    <li>画像加工 ImageMagick 7.0.11-Q16-HDRI, Rmagick 4.2.2</li>
    <li>画像アップロード CarrierWave 2.1.0</li>
    <li>単体、結合テスト RSpec 3.10</li>
</ul>
