// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.explanation {
    font-size: 24px;
}

li {
    font-size: 30px;
    list-style-type: disc;
}

body {
    margin-left: 24px;
}