/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* 高さを指定することにより画像が表示される */
#box{
    height: 600px;
    margin-top: 200px;
  }
  .image1 {
    background-image: url(fot0016-013.jpg);
  }
  .image2 {
    background-image: url(hnb0041-049.jpg);
  }
  .image3 {
    background-image: url(poo0042-022.jpg);
  }
  .image4 {
    background-image: url(yak0059-021.jpg);
  }
  .image5 {
    background-image: url(yuu0019-002.jpg);
  }