// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
    margin-left: 0px;
    margin-right: 0px;
}

#title {
    padding: 0.5em 1em;
    background: -moz-linear-gradient(#ffb03c, #ff708d);
    background: -webkit-linear-gradient(#ffb03c, #ff708d);
    background: linear-gradient(to right, #ffb03c, #ff708d);
    font-size: 30px;
    margin: 0px 80px 0px;
}

#title h1 {
    color: green;
    margin: 0px;
    padding: 10px;
}

header{
    margin: 10px 0px 10px;
    z-index: 10;
    height: 110px;
    position: absolute;
    top: 200px;
    background-color: #333;
    width: 100%;
    text-align: center;
  }

#header_menu ul {
    overflow:hidden;
    list-style:none;
    margin: 0;
    z-index: 20;
}

#header_menu ul li {
    display: inline-block;
    padding: 20px 10px 20px 10px;
    color: rgb(255, 255, 255);
}

.nav-link {
    color:honeydew;
    text-decoration: none;
}

.login-button { 
    display: inline-block;
    padding: 0.8em 1.6em;
    font-size: 40px;
    text-decoration: none;
    background: #f37fd6;/*ボタン色*/
    color: #c035ae;/*ボタン色より暗く*/
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #627295;
    border-radius: 3px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.login-button:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

.logout-button { 
    display: inline-block;
    padding: 0.8em 1.6em;
    font-size: 40px;
    text-decoration: none;
    background: #290ec4;/*ボタン色*/
    color: #acc0eb;/*ボタン色より暗く*/
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #627295;
    border-radius: 3px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    margin-top: 130px;
}

.logout-button:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

.button_wrapper {
    text-align:center;
 }

.login-form {
	position: relative;
	width: 80%;
	margin: 40px 3%;
 }

.to-photo_list-button {
    font-size: 60px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    transition: .4s;
}

.to-photo_list-button:hover {
    background: #00bcd4;
    color: white;
    cursor:pointer;
}

.to-photo_list-button-wrapper {
    text-align: center;
}

.to-locations-button {
    font-size: 60px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    transition: .4s;
}

.to-locations-button:hover {
    background: #00bcd4;
    color: white;
    cursor:pointer;
}

.to-locations-button-wrapper {
    text-align: center;
}

.flex {
    padding: 2.5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}