// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
    margin-bottom: 300px;
}

h1 {
    color: rgb(14, 13, 13);
    font-size: 50pt;
    margin: 50px 0px;
    text-align:center;
}

.form1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

table tr th {
    background: #535fc7;
    color: #61e922;
    padding: 10px;
    font-size: 50pt;
    font-weight: bold;
}

table tr td {
    background: #f6f6f6;
    color: #909090;
    padding: 5px 10px;
    font-size: 50pt;
    width: 400px;
}

input[type="text"] {
    //width: 300px;
    //height: 40px;
    margin: 30px;
    font-size: 30px;
}

table {
    position: relative;
}

.button {
    width: 300px;
    padding:10px;
    background: #a80fc7;
    color: rgb(250, 248, 248);
    border-bottom: 5px solid rgb(99, 10, 117);
    border-radius: 100vh;
    font-size: 5.4em;
    font-weight: bold;
    position:absolute;
    top: 1570px;
}

.button:hover {
    margin-top: 3px;
    color: rgb(250, 248, 248);
    background: #a80fc7;
    border-bottom: 2px solid rgb(99, 10, 117);
}