
.image {
    object-fit: cover;
    margin-left: 110px;
<<<<<<< HEAD
    margin-right: 115px;
=======
    margin-right: 110px;
>>>>>>> origin/master
}

.photo_li {
    list-style: none;
<<<<<<< HEAD
}
=======
}
>>>>>>> origin/master
